/*Facebook.css*/

body {
	background-color:#d9d9d9;
}

header {
	background-color: #3b5998;
	border: 1px groove black;
	padding: 0px 25px;
	margin: 0px auto;
}

.facebook {
	width: 18%;
}

table.loginfo {
	position: inline-block;
	height: 50px;
	float: right;
}
img.img1 {
	vertical-align: middle;
}

img.img2 {
	vertical-align: middle;
}

img.img3 {
	vertical-align: middle;
}







